<md-card class="example-card">
  <md-card-header>
    <md-card-title>Login</md-card-title>
  </md-card-header>
  <md-card-content>
    <form class="example-form">
      <md-form-field class="example-full-width">
        <md-icon mdPrefix>account_circle</md-icon>
        <input mdInput placeholder="User Name" value="">
      </md-form-field>
      <md-form-field class="example-full-width">
        <md-icon mdPrefix>lock</md-icon>
        <input mdInput placeholder="Password" value="">
      </md-form-field>
    </form>
  </md-card-content>
  <md-card-actions>
    <button md-raised-button color="primary">Submit</button>
  </md-card-actions>
</md-card>