<md-card class="" *ngFor='let spaceScreen of spaceScreens; let i = index' style="margin: 0 -15px;">
  <img md-card-image class="example-header-image" src="{{spaceScreens.thumbnailUrl}}">
  <md-card-header>
    <md-card-title>
      <h3>{{spaceScreen.title}}</h3>
    </md-card-title>
    <md-card-subtitle>
      {{spaceScreen.author}}
      <div style="float:right">12:40AM, 31 Aug 2017</div>
    </md-card-subtitle>
  </md-card-header>
  <md-card-content>
    <hr/>
    <p>{{spaceScreen.content.long}}</p>
  </md-card-content>
  <md-card-actions>
    <button md-fab color="primary" routerLinkActive="active" routerLink="/">
      <i class="material-icons">navigate_before</i>
    </button>
    <!-- <button md-raised-button color="primary" routerLinkActive="active" routerLink="/"><i class="material-icons">navigate_before</i> Back to List</button> -->
  </md-card-actions>
</md-card>