<div class="app-dashboard">
  <h1>
    Welcome to the Dashboard!
  </h1>
  <md-grid-list cols="2" rowHeight="150px" style="margin:0 -6px">
    <md-grid-tile>
      <md-card><i class="material-icons">person_pin_circle</i></md-card>
    </md-grid-tile>
    <md-grid-tile>
      <md-card><i class="material-icons">message</i></md-card>
    </md-grid-tile>
    <md-grid-tile>
      <md-card><i class="material-icons">favorite</i></md-card>
    </md-grid-tile>
    <md-grid-tile>
      <md-card><i class="material-icons">explore</i></md-card>
    </md-grid-tile>
    <md-grid-tile>
      <md-card><i class="material-icons">person_pin_circle</i></md-card>
    </md-grid-tile>
    <md-grid-tile>
      <md-card><i class="material-icons">message</i></md-card>
    </md-grid-tile>
    <md-grid-tile>
      <md-card><i class="material-icons">favorite</i></md-card>
    </md-grid-tile>
    <md-grid-tile>
      <md-card><i class="material-icons">explore</i></md-card>
    </md-grid-tile>
  </md-grid-list>
</div>