/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~bootstrap/dist/css/bootstrap.min.css';

/* Global Things */

body {
  font-family: 'Roboto', sans-serif;
  font-size: 300;
  line-height: 1.5;
}

*:focus {
  outline: 0 none !important;
}

#container {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.example-icon {
  padding: 0 14px;
}


/******Splash Screen CSS****/

#pre-bootstrap {
  background-color: #262626;
  background-image: url('./assets/images/splashScreen.png');
  background-size: cover;
  bottom: 0px;
  left: 0px;
  position: fixed;
  right: 0px;
  top: 0px;
  z-index: 999999;
}


/******@end Splash Screen CSS****/


/* Toolbar */

.mat-toolbar .mat-button {
  min-width: inherit
}

.mat-toolbar.mat-primary {
  padding: 0;
  /* position: fixed;
  top: 0;
  z-index: 55555; */
}


/* SideBar */

.mat-sidenav .material-icons {
  color: #424242;
}

.mat-sidenav-container.example-sidenav-fab-container {
  min-height: calc(100vh - 56px);
  /* overflow: hidden; */
  /* margin-top: 56px; */
}

.example-sidenav-fab-container.mat-sidenav-opened {
  overflow: hidden;
  position: fixed;
}

.example-sidenav-fab-container .mat-sidenav-content {
  width: 100%;
}

.example-sidenav-fab-container md-sidenav {
  width: 250px;
  padding: 0;
  position: fixed;
}

.example-scrolling-content {
  overflow: auto;
}

.example-spacer {
  flex: 1 1 auto;
}

.example-card {
  margin: 15px 4px;
}

.example-card-avatar {
  background-image: url('~/assets/images/vodafone-logo-x.jpg');
  background-size: cover;
}

.example-header-image {
  background-size: cover;
  height: auto;
}

.mat-drawer-content {
  padding: 0 15px;
  width: 100%;
  max-width: 640px;
  margin-left: auto!important;
  margin-right: auto!important;
  overflow: initial!important;
}

@media screen and (min-width:768px) {
  .example-card {
    margin: 15px auto;
  }
}