<md-card class="example-card" *ngFor="let data of (myData ? myData.slice(0,10): []); let i = index">
  <md-card-header>
    <div md-card-avatar class="example-card-avatar"></div>
    <md-card-title>{{data.title}}</md-card-title>
    <md-card-subtitle>{{data.author}}</md-card-subtitle>
  </md-card-header>
  <img md-card-image class="example-header-image" src="{{data.thumbnailUrl}}">
  <md-card-content>
    <p>{{data.content.short}}</p>
  </md-card-content>
  <md-card-actions>
    <button md-mini-fab color="primary"><i class="material-icons">thumb_up</i></button>
    <button md-mini-fab color="accent"><i class="material-icons">share</i></button>
    <button md-mini-fab color="primary" routerLinkActive="active" routerLink="detail"><i class="material-icons">chevron_right</i></button>
  </md-card-actions>
</md-card>